<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianping.poi.bu.biz.mapper.db.dpcategory.PoiBgMapper" >
  <resultMap id="BaseResultMap" type="com.dianping.poi.bu.biz.model.PoiBg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bg_name" property="bgName" jdbcType="VARCHAR" />
    <result column="bg_id" property="bgId" jdbcType="INTEGER" />
    <result column="is_active" property="isActive" jdbcType="INTEGER" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bg_name, bg_id, is_active, addTime, add_user, updateTime, update_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from POI_BG
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from POI_BG
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dianping.poi.bu.biz.model.PoiBg" >
    insert into POI_BG (id, bg_name, bg_id, 
      is_active, addTime, add_user, 
      updateTime, update_user)
    values (#{id,jdbcType=INTEGER}, #{bgName,jdbcType=VARCHAR}, #{bgId,jdbcType=INTEGER}, 
      #{isActive,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{addUser,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dianping.poi.bu.biz.model.PoiBg" >
    insert into POI_BG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bgName != null" >
        bg_name,
      </if>
      <if test="bgId != null" >
        bg_id,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="addUser != null" >
        add_user,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bgName != null" >
        #{bgName,jdbcType=VARCHAR},
      </if>
      <if test="bgId != null" >
        #{bgId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUser != null" >
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dianping.poi.bu.biz.model.PoiBg" >
    update POI_BG
    <set >
      <if test="bgName != null" >
        bg_name = #{bgName,jdbcType=VARCHAR},
      </if>
      <if test="bgId != null" >
        bg_id = #{bgId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUser != null" >
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dianping.poi.bu.biz.model.PoiBg" >
    update POI_BG
    set bg_name = #{bgName,jdbcType=VARCHAR},
      bg_id = #{bgId,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=INTEGER},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      add_user = #{addUser,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from POI_BG
  </select>


  <select id="selectActiveBg" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from POI_BG
    where is_active=1
  </select>


  <insert id="batchInsert" parameterType="List">
    insert into POI_BG (id, bg_name, bg_id,is_active, addTime, add_user, updateTime, update_user)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id}, #{item.bgName}, #{item.bgId}, #{item.isActive},#{item.addTime},
      #{item.addUser}, #{item.updateTime}, #{item.updateUser}
      )
    </foreach>
  </insert>


  <delete id="batchDeleteByBgId"  parameterType="List" >
    delete
    from POI_BG
    where bg_id in
    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>


  <update id="updateByBgIdSelective" parameterType="com.dianping.poi.bu.biz.model.PoiBg" >
    update POI_BG
    <set >
      <if test="bgName != null" >
        bg_name = #{bgName,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUser != null" >
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where bg_id = #{bgId,jdbcType=INTEGER}
  </update>


  <update id="batchUpdateByBgIdsSelective" >
    update POI_BG
    <set >
      <if test="poibg.bgName != null" >
        bg_name = #{poibg.bgName,jdbcType=VARCHAR},
      </if>
      <if test="poibg.isActive != null" >
        is_active = #{poibg.isActive,jdbcType=INTEGER},
      </if>
      <if test="poibg.addTime != null" >
        addTime = #{poibg.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="poibg.addUser != null" >
        add_user = #{poibg.addUser,jdbcType=VARCHAR},
      </if>
      <if test="poibg.updateTime != null" >
        updateTime = #{poibg.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="poibg.updateUser != null" >
        update_user = #{poibg.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where bg_id in
    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <select id="selectByBgId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from POI_BG
    where bg_id = #{bgId,jdbcType=INTEGER}
  </select>

</mapper>