<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianping.poi.bu.biz.mapper.db.dpcategory.POITabSequenceMapper" >
  <resultMap id="BaseResultMap" type="com.dianping.poi.bu.biz.model.POITabSequence" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="autoIncreaseId" keyProperty="gid">
     INSERT INTO `POI_TabSequence` (`name`) VALUES(#{name,jdbcType=VARCHAR}) ON DUPLICATE KEY UPDATE `gid` = LAST_INSERT_ID(`gid` + #{count});
  </insert>

  <select id="getGid" resultType="int" >
    select
    gid
    from POI_TabSequence where name =#{name,jdbcType=VARCHAR}
  </select>


  <update id="resetSequence"  parameterType="java.util.Map">
  	update POI_TabSequence set gid=#{gid} where name = #{name}
  </update>
</mapper>